.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
  
    position: fixed; /* Sit on top of the screen */
    z-index: 100; /* Add a z-index if needed */
    bottom: 60px; /* 60px from the bottom */
    width: 100%;
    justify-content: center;
    display: flex;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  .show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
      However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.6s 2.5s;
    animation: fadein 0.5s, fadeout 0.6s 2.5s;
  }
  
  .snackbar > p {
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 12px; /* Padding */
    z-index: 5; /* Add a z-index if needed */
    bottom: 60px;
    margin: 0 30px;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 60px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 60px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 60px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 60px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }